{% extends "master.html"%}

{% block body %}

    <h1>Sistema de inscrição baseado no método Publish/Subscribe</h1>

    <form role="form" action="/publicar" method="POST" id="form">
        <div class="form-group">
            <input type="text" name="topic" id="topic" class="form-control input-sm" placeholder="Tópico">
        </div>
        <div class="form-group">
            <textarea name="text" id="text" class="form-control input-sm" placeholder="Texto da Publicação"></textarea>
        </div>
        <input type="submit" value="Publicar" class="btn btn-info btn-block" onClick="publish()">
    </form>

    <script src="{{ url_for('static', filename='js/socket.io.js') }}"></script>
    <script type="text/javascript" charset="utf-8">
        var user = {id:{{ current_user.id }}, type: {{ current_user.type }}}
        var socket = io.connect('http://localhost:3000', { secure: true });
        socketControl(socket);
        function socketControl(socket){
              socket.on('connect', function() {
                socket.emit('user_data', user);
                console.log('conectado');
              });

              socket.on('disconnect', function() {
                alert("Disconectado");
              });

              socket.on('message', function(message) {
                console.log(message);
              });
        }

        function publish(){
            var topic = $('#topic').val();
            var text = $('#text').val();
            var message = {topic: topic, text: text}
            socket.emit('message',{message});
        }

    </script>

{% endblock %}

