<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    {% if  current_user.type == 1 %}
      <title>Analistas</title>
    {% elif  current_user.type == 2 %}
      <title>Inscritos</title>
    {% endif %}


    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/starter-template.css') }}" rel="stylesheet">

  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          {% if  current_user.type == 1 %}
            <a class="navbar-brand" href="#">Analistas</a>
          {% elif  current_user.type == 2 %}
            <a class="navbar-brand" href="#">Inscritos</a>
          {% endif %}
        </div>
        {% if  current_user.type == 2 %}
          <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/inscritos">Inscrições</a></li>
            <li class="active"><a href="/publicacoes">Publicações</a></li>
          </ul>
        </div>
        {% endif %}

      </div>
    </nav>

    <div class="container-fluid">
      <div class="starter-template">
        <div class="col-md-5">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">Histórico de Publicações</h3>
            </div>
            <div class="panel-body" style="overflow-y:scroll; min-height: 200px; max-height: 500px;">
              <table class="table table-striped table-hover">
                <thead>
                  <tr>
                    <th style="width: 30%;" class="text-center">Tópico</th>
                      <th style="width: 70%;" class="text-center">Publicação</th>
                    </tr>
                </thead>
                <tbody id="historyTableBody">

                </tbody>
              </table>
            </div>
          </div>
        </div>

        <!-- Painel de Publicações Real-time -->
        <div class="col-md-7">
          <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Publicações</h3>
            </div>
                <div class="panel-body" style="overflow-y:scroll; min-height: 200px; max-height: 500px;">
                    <table class="table table-striped table-hover">
                        <thead>
                          <tr>
                            <th style="width: 30%;" class="text-center">Tópico</th>
                            <th style="width: 70%;" class="text-center">Publicação</th>
                          </tr>
                        </thead>
                        <tbody id="tableBody">

                        </tbody>
                      </table>
                </div>
            </div>
          </div>
        </div>
    </div><!-- /.container -->

    <script src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/socket.io.js') }}"></script>
    <script type="text/javascript" charset="utf-8">
      var ip = location.host.split(":");
      var user = {id:{{ current_user.id }}, type: {{ current_user.type }}}
      var topics = '{{subs}}';
      topics = topics.replace("[","").replace("]","").replace(/\s/g, '').split(",");

      var socket = io.connect('http://'+ip[0]+':3000', { secure: true });
      socket.on('connect', function() {
        socket.emit('user_data', user);
        console.log("Conectado");
      });

      socket.on('disconnect', function() {
        console.log("Disconectado");
      });

      for(var index in topics){
        console.log('Inscrito em: '+topics[index]);

        (function(realMethod) {
          socket.on("publicacoes/"+realMethod, function(res){
          var string  = '<tr class="text-center">'+
                          '<td>'+res.data.message.topic+'</td>'+
                          '<td>'+res.data.message.text+'</td>'+
                        '</tr>';

            $('#tableBody').append(string);
          });
        })(topics[index]);  //declare function and call it immediately (passing the current method)
      }
    </script>
  </body>
</html>








